@page "/pdf-viewer/programmatical-annotations"

@using System.IO
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SfPdfViewer
@using System.Text.RegularExpressions
@*Hidden:Lines*@
@* @inherits SampleBaseComponent *@
@inherits BlazorDemos.Pages.Viewer.ProgrammaticalAnnotationBase
@* @inject NavigationManager NavigationManager *@
@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates how to programmatically create and edit annotations in the <strong>SfPdfViewer</strong>, including text markup, shapes, measurements, free text, stamps, ink, and sticky notes. You can insert new annotations or update existing ones through API calls, enabling precise, automated annotation workflows.</p>
</SampleDescription>
<ActionDescription>
    <p>The <strong>SfPdfViewer</strong> enables programmatic creation and modification of annotations within a PDF document. Use the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.SfPdfViewer.PdfViewerBase.html#Syncfusion_Blazor_SfPdfViewer_PdfViewerBase_AddAnnotationAsync_Syncfusion_Blazor_SfPdfViewer_PdfAnnotation_" aria-label="Navigate to the AddAnnotationAsync method reference for PdfViewerBase">AddAnnotationAsync</a> API to add annotations and the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.SfPdfViewer.PdfViewerBase.html#Syncfusion_Blazor_SfPdfViewer_PdfViewerBase_EditAnnotationAsync_Syncfusion_Blazor_SfPdfViewer_PdfAnnotation_" aria-label="Navigate to the EditAnnotationAsync method reference for PdfViewerBase">EditAnnotationAsync</a> API to edit existing annotations.</p>
    <br />
    <p>When you select properties in the Property panel and click Add Annotation, the annotation is created using those settings. To update an existing annotation, select it, adjust the properties, and click Update.</p>
    <br />
    <p>The following annotation types can be programmatically added or updated:</p>
    <ul>
        <li><a target="_blank" href="https://help.syncfusion.com/document-processing/pdf/pdf-viewer/blazor/annotation/text-markup-annotation" aria-label="Navigate to the documentation for Text markup annotations in SfPdfViewer component">Text markup annotations</a></li>
        <li><a target="_blank" href="https://help.syncfusion.com/document-processing/pdf/pdf-viewer/blazor/annotation/shape-annotation" aria-label="Navigate to the documentation for Shape annotations in SfPdfViewer component">Shape annotations</a></li>
        <li><a target="_blank" href="https://help.syncfusion.com/document-processing/pdf/pdf-viewer/blazor/annotation/measurement-annotation" aria-label="Navigate to the documentation for Measurements annotation in SfPdfViewer component">Measurements annotation</a></li>
        <li><a target="_blank" href="https://help.syncfusion.com/document-processing/pdf/pdf-viewer/blazor/annotation/free-text-annotation" aria-label="Navigate to the documentation for Free text annotation in SfPdfViewer component">Free text annotation</a></li>
        <li><a target="_blank" href="https://help.syncfusion.com/document-processing/pdf/pdf-viewer/blazor/annotation/stamp-annotation" aria-label="Navigate to the documentation for Stamp annotation in SfPdfViewer component">Stamp annotation</a></li>
        <li><a target="_blank" href="https://help.syncfusion.com/document-processing/pdf/pdf-viewer/blazor/annotation/ink-annotation" aria-label="Navigate to the documentation for Ink annotation in SfPdfViewer component">Ink annotation</a></li>
        <li><a target="_blank" href="https://help.syncfusion.com/document-processing/pdf/pdf-viewer/blazor/annotation/sticky-notes-annotation" aria-label="Navigate to the documentation for Sticky notes annotation in SfPdfViewer component">Sticky notes annotation</a></li>
    </ul>

    @*WASM:Block*@ 
    @{ 
#if (WASM) 
    }
    <p>More information about the <strong>SfPdfViewer</strong> can be found in this <a target="_blank" href="https://help.syncfusion.com/document-processing/pdf/pdf-viewer/blazor/getting-started/web-assembly-application" aria-label="documentation section for View PDF files using PDF Viewer Component in the Blazor WASM app">documentation section</a>.</p>
    @{
#endif 
    }
    @*End:WASM*@

    @*Server:Block*@ 
    @{ 
#if !(WASM)
    } 
    <p>More information about the <strong>SfPdfViewer</strong> can be found in this <a target="_blank" href="https://help.syncfusion.com/document-processing/pdf/pdf-viewer/blazor/getting-started/server-side-application" aria-label="documentation section for View PDF files using PDF Viewer Component in the Blazor Server app">documentation section</a>.</p>
    @{
#endif 
    }
    @*End:Server*@ 
</ActionDescription>

<div>
    <div class="col-lg-9 control-section">
        <SfPdfViewer2 @ref="PdfViewerInstance" DocumentPath="@DocumentPath" Height="640px" Width="100%" ZoomMode=ZoomMode.FitToPage>
            <PdfViewerEvents AnnotationAdded="@AddAnnotationEvent"
                             DocumentLoaded="@DocumentLoaded"
                             AnnotationSelected="@AnnotationSelectedEvent"
                             AnnotationUnselected="@AnnotationUnSelectedEvent"
                             AnnotationRemoved="@AnnotationRemovedEvent"
                             AnnotationMoved="AnnotationMoved"></PdfViewerEvents>
        </SfPdfViewer2>
    </div>

    <style>
        .main-panel {
            border-left: 1px solid #D7D7D7;
            height: 680px;
            overflow-y: scroll;
            padding-bottom: 0px;
        }
        .text-content {
            font-size: 12px;
        }
        .input-item {
            margin-top: 0px;
        }
        .input-title {
            margin-top: 16px;
            font-size: 12px;
        }
        .inner-container {
            margin-top: 15px;
            border: 1px solid rgba(196, 199, 197, 1);
            padding: 12px;
        }
        .inner-table {
            width: 100%;
            border-collapse: collapse;  
            table-layout: fixed;
        }
        .inline-input {
            display: flex;
            gap: 5px;
            align-items: center;
        }
        .inline-input-item {
            white-space: nowrap;
        }
        .button-section {
            text-align: center;
            display : flex;
            justify-content: end;
            gap: 12px;
            padding: 0px 12px 12px 0;
            flex-wrap: wrap-reverse;
        }
        .inner-table td {
            text-wrap : none;
            padding: 12px 12px 0 12px;
            width: 50%;
        }
        .checkbox-item {
            padding: 0;
        }
       .property-panel-footer {
            padding: 16px 0px;
            position: sticky;
            bottom: 0;
            background-color: white;
            z-index: 1;
            border-top:1px solid #D7D7D7;
            margin-top: 16px;
        }
        .header-panel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: sticky;
            top: 0px;
            z-index: 2;
            background-color: white;
            border-bottom: 1px solid #D7D7D7;
            padding-bottom: 0px;
            margin-bottom: 16px;
        }
        .upload-image {
        width: 80px;
        height: 80px;
        margin: 12px;
        border-radius: 5px;
        border: 1px solid rgba(196, 199, 197, 1);
        padding: 4px;
    }
    div.file-name {
        font-size: 14px;
        padding: 0px 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
        width: 90px;
        white-space: nowrap;
    }
    .wrapper {
        display: flex;
        align-items: center;
    }
    .reply-container{ 
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        padding: 12px;
    }
    .coordinate-table {
        border-top:1px solid rgba(196, 199, 197, 1);
        border-left:1px solid rgba(196, 199, 197, 1);
        border-right:1px solid rgba(196, 199, 197, 1);
        border-spacing: 0px;
    }
    .vertex {
        border-right: 0px;
    }
    .vertex td{
        border-right: 1px solid rgba(196, 199, 197, 1);
    }
    .coordinate-table td {
        border-bottom: 1px solid rgba(196, 199, 197, 1);
        font-size: 10px;
        text-align: center;
        width: auto;
        padding: 4px 0px;
    }
    .more-container {
        width: min-content;
    }
    .replies::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }
    .replies::-webkit-scrollbar-track {
      border-radius: 10px;
    }
    .replies::-webkit-scrollbar-thumb {
      background: rgba(120, 120, 120, 1); 
      border-radius: 10px;
    }
    .replies {
        overflow-y: scroll;
        max-height: 180px;
        padding: 0px !important;
    }
    .reply-text {
        width: 100%;
        font-size: 12px;
        word-break: break-word;
    }
    .table-content {
        padding: 12px 12px 0px 4px;
    }
    .table-items {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 2px;
    }
    .left-item {
        padding: 12px 4px 0px 12px !important;
    }
    .input-title .e-checkbox-wrapper .e-label,
    .button-section .e-btn,
    .input-title .e-upload .e-file-select-wrap .e-file-drop, .e-bigger.e-small .e-upload .e-file-select-wrap .e-file-drop {
        font-size: 12px;
    }
    </style>
    <div class="col-lg-3 property-section main-panel">
        <div class="property-panel-header header-panel sb-content-tab-header">Properties <div><div style="padding: 4px 0;"><SfButton CssClass="e-flat" IconCss="e-icons e-refresh" OnClick="@Reset"></SfButton></div></div></div>
        <div class="property-panel-content">
            <div class="text-content">Select Annotation</div>
            <div class="input-item">
                    <SfDropDownList Enabled="@selectedAnnotation.AnnotationUnSelected" TItem="AnnotationsFields" TValue="string" @bind-Value="@selectedAnnotation.AnnotationType" DataSource="@AnnotationList">
                    <DropDownListEvents TItem="AnnotationsFields" TValue="string" ValueChange="ShapeChanged"/>
                    <DropDownListFieldSettings Text="Text" Value="ID"/>
                    </SfDropDownList>
            </div>
            @if (selectedAnnotation.AnnotationType == "CustomStamp" && selectedAnnotation.AnnotationUnSelected)
            {
                <div class="input-title">
                    <SfUploader Enabled="selectedAnnotation.AnnotationUnSelected" @ref="uploadObj" ID="fileUpload" AllowedExtensions=".jpg, .jpeg, .png" AllowMultiple=false ShowProgressBar=false AutoUpload="true">
                        <UploaderTemplates>
                            <Template>
                                @if (selectedAnnotation.CustomStampSource != null && selectedAnnotation.CustomStampSource != "")
                                {
                                    <span class="wrapper">
                                    <img class="upload-image" alt="Image" src="@selectedAnnotation.CustomStampSource">
                                    <div class="name file-name" title="@context.Name">@context.Name</div>
                                    <span class="e-icons e-file-delete-btn" id="removeIcon" title="Remove" @onclick="@OnFileRemove"></span>
                                    </span>
                                }
                            </Template>
                        </UploaderTemplates>
                        <UploaderEvents ValueChange="ImageChane" ></UploaderEvents>                        
                    </SfUploader>
                </div>
            }
            @if (selectedAnnotation.AnnotationType == "Stamp"&& selectedAnnotation.AnnotationUnSelected)
            {
               <div class="inner-container"> 
                <div class="text-content">Stamp Type</div>
                <div class="input-item">
                    <SfDropDownList TItem="AnnotationsFields" TValue="string" @bind-Value="@selectedAnnotation.StampsType" DataSource="@StampTypeList" Enabled = "@selectedAnnotation.AnnotationUnSelected">
                    <DropDownListEvents TItem="AnnotationsFields" TValue="string" ValueChange="StampChanged"/>
                    <DropDownListFieldSettings Text="Text" Value="ID"/>
                    </SfDropDownList>
                </div>
                <div class="input-title">
                    <div class="text-content">Comments</div>
                    <div class="input-item">
                        @if(selectedAnnotation.StampsType == "Dynamic" || selectedAnnotation.StampsType == "SignHere")
                        {
                            if(selectedAnnotation.StampsType == "Dynamic")
                            {
                                <SfDropDownList TItem="AnnotationsFields" TValue="string"  @bind-Value="@selectedAnnotation.DynamicStamp" DataSource="@DynamicStamps" Enabled = "@selectedAnnotation.AnnotationUnSelected">
                                <DropDownListEvents TItem="AnnotationsFields" TValue="string" ValueChange="StampChanged"/>
                                <DropDownListFieldSettings Text="Text" Value="ID"/>
                                </SfDropDownList>
                            }
                            else
                            {
                                <SfDropDownList TItem="AnnotationsFields" TValue="string" @bind-Value="@selectedAnnotation.SignHereStamp" DataSource="@SignHereStamps" Enabled = "@selectedAnnotation.AnnotationUnSelected">
                                <DropDownListEvents TItem="AnnotationsFields" TValue="string" ValueChange="StampChanged"/>
                                <DropDownListFieldSettings Text="Text" Value="ID"/>
                                </SfDropDownList>
                            }
                        }
                        else
                        {
                            <SfDropDownList TItem="AnnotationsFields" TValue="string"  @bind-Value="@selectedAnnotation.StandardBusinessStamp" DataSource="@StandardBusinessStamps" Enabled = "@selectedAnnotation.AnnotationUnSelected">
                            <DropDownListEvents TItem="AnnotationsFields" TValue="string" ValueChange="StampChanged"/>
                            <DropDownListFieldSettings Text="Text" Value="ID"/>
                            </SfDropDownList>
                        }
                    </div>
                </div>
            </div> 
            }
            <div class="input-title">Page Number</div>
            <div class="input-item"><SfNumericTextBox @ref = "numericTextBoxRef" TValue="int" Enabled="selectedAnnotation.AnnotationUnSelected" Min="1"  @bind-Value="@selectedAnnotation.PageNumber"></SfNumericTextBox></div>
            <div class="input-title">Settings:</div>
            <div class="inner-container" style="padding: 0 0 12px 0px;;">
                <table class="inner-table">
                    @if (selectedAnnotation.AnnotationType == "Distance" || selectedAnnotation.AnnotationType == "Line" || selectedAnnotation.AnnotationType == "Area" || selectedAnnotation.AnnotationType == "Perimeter" || selectedAnnotation.AnnotationType == "Volume" || selectedAnnotation.AnnotationType == "Arrow" || selectedAnnotation.AnnotationType == "Polygon")
                    {
                        if (selectedAnnotation.AnnotationType == "Distance" || selectedAnnotation.AnnotationType == "Line" || selectedAnnotation.AnnotationType == "Arrow")
                        {
                            <tr><td class="left-item"><div class="text-content">X1 Position<div class="input-item"><SfNumericTextBox TValue="double" Format="###.##" Min=0 ShowSpinButton=false @bind-Value="@selectedAnnotation.VertexX0" OnChange="@InputChange"></SfNumericTextBox></div></div></td>
                                <td><div class="text-content">Y1 Position<div class="input-item"><SfNumericTextBox TValue="double" Format="###.##" Min=0 ShowSpinButton=false @bind-Value="@selectedAnnotation.VertexY0" OnChange="@InputChange"></SfNumericTextBox></div></div></td></tr>
                            <tr><td class="left-item"><div class="text-content">X2 Position<div class="input-item"><SfNumericTextBox TValue="double" Format="###.##" Min=0 ShowSpinButton=false @bind-Value="@selectedAnnotation.VertexX1" OnChange="@InputChange"></SfNumericTextBox></div></div></td>
                                <td><div class="text-content">Y2 Position<div class="input-item"><SfNumericTextBox TValue="double" Min=0 Format="###.##" ShowSpinButton=false @bind-Value="@selectedAnnotation.VertexY1" OnChange="@InputChange"></SfNumericTextBox></div></div></td></tr>
                        }
                        else
                        {
                            <tr><td class="left-item"><div class="text-content">X Position<div class="input-item"><SfNumericTextBox TValue="double" Format="###.##" Min=0 ShowSpinButton=false @bind-Value="@selectedAnnotation.VertexX" ></SfNumericTextBox></div></div></td>
                                <td><div class="text-content">Y Position <div class="input-item"><SfNumericTextBox TValue="double" Format="###.##" Min=0 ShowSpinButton=false @bind-Value="@selectedAnnotation.VertexY"></SfNumericTextBox></div></div></td></tr>
                        }
                    }
                    else if (selectedAnnotation.AnnotationType == "Highlight" || selectedAnnotation.AnnotationType == "Underline" || selectedAnnotation.AnnotationType == "Strikethrough") 
                    {
                        <tr><td class="left-item"><div class="text-content">X Position<div class="input-item"><SfNumericTextBox TValue="double" Format="###.##" Min=0 ShowSpinButton=false @bind-Value="@selectedAnnotation.X" ></SfNumericTextBox></div></div></td>
                            <td><div class="text-content">Y Position<div class="input-item"><SfNumericTextBox TValue="double" Format="###.##" Min=0 @bind-Value="@selectedAnnotation.Y" ShowSpinButton=false ></SfNumericTextBox></div></div></td></tr>
                        <tr><td class="left-item"><div class="text-content">Width<div class="input-item"><SfNumericTextBox TValue="double" Format="###.##" Min=0 ShowSpinButton=false @bind-Value="@selectedAnnotation.Width" ></SfNumericTextBox></div></div></td>
                            <td><div class="text-content">Height<div class="input-item"><SfNumericTextBox TValue="double" Format="###.##" Min=0 ShowSpinButton=false @bind-Value="@selectedAnnotation.Height" ></SfNumericTextBox></div></div></td></tr>
                    
                    }
                    else
                    {
                        <tr><td class="left-item"><div class="text-content">X Position<div class="input-item"><SfNumericTextBox TValue="double" Format="###.##" Min=0 ShowSpinButton=false @bind-Value="@selectedAnnotation.X" OnChange="@InputChange"></SfNumericTextBox></div></div></td>
                            <td><div class="text-content">Y Position<div class="input-item"><SfNumericTextBox TValue="double" Format="###.##" Min=0 @bind-Value="@selectedAnnotation.Y" ShowSpinButton=false OnChange="@InputChange"></SfNumericTextBox></div></div></td></tr>
                        <tr><td class="left-item"><div class="text-content">Width<div class="input-item"><SfNumericTextBox TValue="double" Format="###.##" Min=0 ShowSpinButton=false @bind-Value="@selectedAnnotation.Width" OnChange="@InputChange"></SfNumericTextBox></div></div></td>
                            <td><div class="text-content">Height<div class="input-item"><SfNumericTextBox TValue="double" Format="###.##" Min=0 ShowSpinButton=false @bind-Value="@selectedAnnotation.Height" OnChange="@InputChange"></SfNumericTextBox></div></div></td></tr>
                    
                    }
                    <tr><td class="left-item"><div class="text-content">Shape Opacity<div class="input-item"><SfNumericTextBox TValue="double" Format="###.##" Min=0 Max=100 ShowSpinButton=false @bind-Value="@selectedAnnotation.Opacity" OnChange="@InputChange"></SfNumericTextBox></div></div></td>
                        @if (selectedAnnotation.AnnotationType != "Stamp" && selectedAnnotation.AnnotationType != "CustomStamp" && selectedAnnotation.AnnotationType != "StickyNotes")
                        {
                                <td><div class="text-content">Fill Color<div class="input-item" style="overflow:hidden"><SfColorPicker Mode="ColorPickerMode.Palette" NoColor="true" @bind-Value="@selectedAnnotation.FillColor" ValueChange="@InputChange"></SfColorPicker></div></div></td>
                        }
                    </tr>
                    @if (selectedAnnotation.AnnotationType != "Highlight" && selectedAnnotation.AnnotationType != "Underline" && selectedAnnotation.AnnotationType != "Strikethrough" && selectedAnnotation.AnnotationType != "Stamp" && selectedAnnotation.AnnotationType != "CustomStamp" && selectedAnnotation.AnnotationType != "StickyNotes")
                    {
                        <tr>
                            <td class="left-item"><div class="text-content">Stroke Thickness<div class="input-item"><SfNumericTextBox TValue="int" Min=1 Max=12 ShowSpinButton=false @bind-Value="@selectedAnnotation.Thickness" OnChange="@InputChange"></SfNumericTextBox></div></div></td>
                            <td><div class="text-content">Stroke Color<div class="input-item"  style="overflow:hidden"><SfColorPicker  Mode="ColorPickerMode.Palette" NoColor="true" @bind-Value="@selectedAnnotation.StrokeColor" ValueChange="@InputChange"></SfColorPicker></div></div></td></tr>
                    }
                </table>
                @if(selectedAnnotation.AnnotationType == "Highlight" || selectedAnnotation.AnnotationType == "Underline" || selectedAnnotation.AnnotationType == "Strikethrough" || selectedAnnotation.AnnotationType == "Polygon"|| selectedAnnotation.AnnotationType == "Perimeter"|| selectedAnnotation.AnnotationType == "Area" || selectedAnnotation.AnnotationType == "Volume")
                {
                    if(selectedAnnotation.AnnotationType == "Polygon"|| selectedAnnotation.AnnotationType == "Perimeter"|| selectedAnnotation.AnnotationType == "Area" || selectedAnnotation.AnnotationType == "Volume")
                    {
                        @if(selectedAnnotation.VertexPoints.Count != 0)
                        {
                           <div style="padding: 12px 12px 0 12px;">
                            <table class="inner-table coordinate-table vertex" >
                            @for(int i=0; i< selectedAnnotation.VertexPoints.Count; i=i+2)
                            {
                                <tr> 
                                <td>
                                    <div class="table-items"><div style=" border-right:0px;"> X@(i+1) = @((int)selectedAnnotation.VertexPoints[i].X) </div> 
                                    <div> Y@(i+1) = @((int)selectedAnnotation.VertexPoints[i].Y) </div> </div>
                                    </td>
                                        @if(i+1 != selectedAnnotation.VertexPoints.Count)
                                        {
                                            <td>
                                            <div class="table-items"><div style=" border-right:0px;"> X@(i+2) = @((int)selectedAnnotation.VertexPoints[i+1].X) </div> 
                                            <div> Y@(i+2) = @((int)selectedAnnotation.VertexPoints[i+1].Y) </div></div>
                                            </td>
                                        }
                                </tr>
                            }  
                            </table>
                            </div> 
                        }
                    }
                    else
                    {
                        if(selectedAnnotation.Bounds.Count != 0)
                        {
                            <div style="padding: 12px 12px 0 12px;">
                            <table class="inner-table coordinate-table">
                            @for(int i=0; i< selectedAnnotation.Bounds.Count; i++)
                            {
                                <tr> 
                                    <td><div class="table-items">
                                        <div>X@(i+1) = @((int)selectedAnnotation.Bounds[i].X) </div> 
                                        <div>Y@(i+1) = @((int)selectedAnnotation.Bounds[i].Y) </div>
                                    </div>
                                        
                                    </td>
                                    <td>  <div class="table-items">
                                            <div>W@(i+1) = @((int)selectedAnnotation.Bounds[i].Width) </div>
                                        <div>H@(i+1) = @((int)selectedAnnotation.Bounds[i].Height) </div>
                                           </div>
                                        
                                    </td>
                                </tr>
                            }
                            </table>
                            </div>
                        }
                    }
                    <div class="button-section" style="padding: 12px 12px 0px 0;">
                        <SfButton IsPrimary="true" CssClass="e-outline" Content="Delete" OnClick="DeleteList"></SfButton>
                        @if(selectedAnnotation.AnnotationType == "Polygon" || selectedAnnotation.AnnotationType == "Perimeter" || selectedAnnotation.AnnotationType == "Area" || selectedAnnotation.AnnotationType == "Volume")
                        {
                            <SfButton IsPrimary="true" Content="Add Vertex" OnClick="AddVertexPoint"></SfButton>
                        }
                        else 
                        {
                            <SfButton IsPrimary="true" Content="Add Bounds" OnClick="AddBounds"></SfButton>
                        }
                    </div>
                }
                @if(selectedAnnotation.AnnotationType == "Line" || selectedAnnotation.AnnotationType == "Arrow" || selectedAnnotation.AnnotationType == "Distance" )
                {
                    <div style="padding: 0px 12px 12px 12px">
                    <div class="input-title">Line Head Start</div>
                    <div class="input-item">
                        <SfDropDownList TItem="AnnotationsFields" TValue="string" @bind-Value="@selectedAnnotation.LindHeadStart" DataSource="@LineShape" OnChange="@InputChange">
                        <DropDownListFieldSettings Text="Text" Value="ID"/>
                        <DropDownListEvents TItem="AnnotationsFields" TValue="string" OnValueSelect="InputChange"></DropDownListEvents>
                        </SfDropDownList>
                    </div>
                    <div class="input-title">Line Head End</div>
                    <div class="input-item">
                        <SfDropDownList TItem="AnnotationsFields" TValue="string" @bind-Value="@selectedAnnotation.LindHeadEnd" DataSource="@LineShape" OnChange="@InputChange">
                        <DropDownListFieldSettings Text="Text" Value="ID"/>
                        <DropDownListEvents TItem="AnnotationsFields" TValue="string" OnValueSelect="InputChange"></DropDownListEvents>
                        </SfDropDownList>
                    </div>
                    
                    
                    @if(selectedAnnotation.AnnotationType == "Distance")
                    {
                        <div class="input-title">Leader Length</div>
                        <div class="input-item"><SfNumericTextBox TValue="int" Min=0 ShowSpinButton=false @bind-Value="@selectedAnnotation.LeaderLength" OnChange="@InputChange"></SfNumericTextBox></div>                    
                    }
                    </div>
                }
            </div>
            @if(selectedAnnotation.AnnotationType == "Ink")
            {
                <div class="input-title">Ink Annotation</div>
                <div class="input-item">
                    <SfDropDownList TItem="AnnotationsFields" TValue="string" @bind-Value="@selectedAnnotation.InkAnnotation" DataSource="@InkAnnotationType" Enabled ="@selectedAnnotation.AnnotationUnSelected">
                    <DropDownListEvents TItem="AnnotationsFields" TValue="string" ValueChange="InkAnnotationChanged"/>
                    <DropDownListFieldSettings Text="Text" Value="ID"/>
                    </SfDropDownList>
                </div>
            }
            @if(selectedAnnotation.AnnotationType == "FreeText")
            {
                <div class="input-title">Text Properties:</div>
                <div class="inner-container"> 
                    <div class="text-content">Default Text</div>
                    <div class="input-item">
                        <SfTextBox @bind-Value="@selectedAnnotation.DefaultText" OnChange="@InputChange"></SfTextBox>
                    </div>
                    <div class="input-title">Font Family</div>
                    <div class="input-item">
                        <SfDropDownList TItem="AnnotationsFields" TValue="string" @bind-Value="@selectedAnnotation.FontFamily" DataSource="@FontFamilyTypes">
                        <DropDownListFieldSettings Text="Text" Value="ID"/>
                        <DropDownListEvents TItem="AnnotationsFields" TValue="string" OnValueSelect="InputChange"></DropDownListEvents>
                        </SfDropDownList>
                    </div>  
                    <div class="input-title">Alignment</div>
                    <div class="input-item">
                        <SfDropDownList TItem="AnnotationsFields" TValue="string" @bind-Value="@selectedAnnotation.Alignment" DataSource="@AlignmentTypes">
                        <DropDownListFieldSettings Text="Text" Value="ID"/>
                        <DropDownListEvents TItem="AnnotationsFields" TValue="string" OnValueSelect="InputChange"></DropDownListEvents>
                        </SfDropDownList>
                    </div> 
                    <div class="input-title">Font Style</div>
                    <div class="input-item">
                        <SfDropDownList TItem="AnnotationsFields" TValue="string" @bind-Value="@selectedAnnotation.FontStyle" DataSource="@FontStyleTypes">
                        <DropDownListFieldSettings Text="Text" Value="ID"/>
                        <DropDownListEvents TItem="AnnotationsFields" TValue="string" OnValueSelect="InputChange"></DropDownListEvents>
                        </SfDropDownList>
                    </div> 
                    <div class="input-title">
                        <table class="inner-table" style="border-spacing: 0px;">
                            <tr><td style="width:50%;padding:0;" class="text-content">Font Size<div class="input-item"><SfNumericTextBox TValue="int" @bind-Value="@selectedAnnotation.FontSize" ShowSpinButton=false OnChange="@InputChange"></SfNumericTextBox></div></td>
                            <td style="padding:0;"><div style="margin-left: 12px;" class="text-content">Font Color<div class="input-item"><SfColorPicker Mode="ColorPickerMode.Palette" @bind-Value="@selectedAnnotation.FontColor" ValueChange="@InputChange"></SfColorPicker></div></div></td></tr>
                        </table>
                    </div> 
                </div>
            }
            <div class="input-title"><SfCheckBox Checked="@selectedAnnotation.IsPrint" Label="Print Annotation" TChecked="bool" @onchange="PrintChange" CssClass="checkbox-item"></SfCheckBox></div>
            <div class="input-title"><SfCheckBox Checked="@selectedAnnotation.IsLocked" Label="Lock Annotation" TChecked="bool" @onchange="LockChange" CssClass="checkbox-item"></SfCheckBox></div>
            @if(selectedAnnotation.IsLocked)
            {
                <div class="input-title text-content">Allow Interactions</div>
                <div class="input-item">
                    <SfMultiSelect @bind-Value="@selectedAnnotation.AllowedInteractions" Placeholder="Select Interactions" TItem="string" TValue="List<string>" Mode="@VisualMode.CheckBox" DataSource="@selectedAnnotation.AllowedInteractionList" EnableSelectionOrder="true" ShowDropDownIcon="true">
                    <MultiSelectEvents TItem="string" TValue="List<string>" OnValueSelect="InputChange" OnValueRemove="InputChange" ></MultiSelectEvents>
                    </SfMultiSelect>
                </div>  
            }
            <div class="input-title">Add Comment:</div>
            <div class="input-title">Author</div>
            <div class="input-item"><SfTextBox @bind-Value="@selectedAnnotation.Author" OnChange="@InputChange"></SfTextBox></div> 
            <div class="input-title">Comment</div>
            <div class="input-item"><SfTextBox @bind-Value="@selectedAnnotation.Comment" OnChange="@InputChange"></SfTextBox></div> 
            <div class="input-title">Status</div>
            <div class="input-item">
                <SfDropDownList TItem="AnnotationsFields" TValue="string" Placeholder="None" @bind-Value="@selectedAnnotation.State" DataSource="@Status" >
                <DropDownListEvents TItem="AnnotationsFields" TValue="string" ValueChange="@CommentStatusChanged" OnValueSelect="@InputChange"/>
                <DropDownListFieldSettings Text="Text" Value="ID"/>
                </SfDropDownList>
            </div>
            <div class="input-title"><SfCheckBox Checked="@selectedAnnotation.IsReply" Label="Reply" TChecked="bool" @onchange="IsAddReplyCommentChange" CssClass="checkbox-item"></SfCheckBox></div>
            @if (selectedAnnotation.IsReply)
            {
                @if(selectedAnnotation.ReplyComments.Count != 0)
                {
                    <div class="input-title">Replies:</div>
                    <div class="inner-container replies">
                        @foreach(Comment comment in selectedAnnotation.ReplyComments)
                        {
                         <div class="reply-container" id="@comment.Id">
                            <div class="reply-icon e-pv-comment-icon e-pv-icon"></div>
                            <div class="reply-main-container">
                                <div class="reply-text" >@comment.Author - @(Convert.ToDateTime(comment.ModifiedDate).ToString("MMM dd,HH:mm tt"))</div>
                                    <div class="reply-text">
                                        @comment.Note &nbsp; @if (@comment.State != "None")
                                        {
                                            @comment.State
                                        }
                                    </div>
                                </div>
                            <div class="more-container">
                                <SfButton style="padding: 5px 4px;" IconCss="e-icons e-more-vertical-2" CssClass="e-flat" Content="" OnClick="OpenContextMenu" @onmousedown="()=>SaveReplyID(comment.Id)"></SfButton>
                            </div>
                       
                        </div>   
                    }
                     </div>
                     <div id="target">
                    <SfContextMenu @ref="ContextMenuObj" TValue="MenuItem">
                        <MenuItems>
                            <MenuItem Text="Edit"></MenuItem>
                            <MenuItem Text="Delete"></MenuItem>
                        </MenuItems>
                        <MenuEvents TValue="MenuItem" ItemSelected="@SelectedHandler"></MenuEvents>
                    </SfContextMenu>
                </div>
                }   
                <div class="inner-container">
                    <div class="text-content">Author</div>
                    <div class="input-item"><SfTextBox @bind-Value="@selectedAnnotation.ReplyAuthor"></SfTextBox></div>
                    <div class="input-title">Comment</div>
                    <div class="input-item"><SfTextBox @bind-Value="@selectedAnnotation.ReplyComment"></SfTextBox></div> 
                    <div class="input-title">Status</div>
                    <div class="input-item">
                        <SfDropDownList TItem="AnnotationsFields" TValue="string" Placeholder="None" @bind-Value="@selectedAnnotation.ReplyState" DataSource="@Status">
                        <DropDownListEvents TItem="AnnotationsFields" TValue="string" ValueChange="ReplyStatusChanged"/>
                        <DropDownListFieldSettings Text="Text" Value="ID"/>
                        </SfDropDownList>
                    </div>
                    
                    <div class="button-section" style="padding: 12px 0 0 12px;">
                        @if (selectedAnnotation.EditReply)
                        {
                            <SfButton IsPrimary="true" Content="Update Reply" OnClick="UpdateReply"></SfButton>
                        }
                        else
                        {
                            <SfButton IsPrimary="true" Content="Add Reply" OnClick="AddReply"></SfButton>
                        }
                        
                    </div>
                </div>
            }
            <div class="property-panel-footer sb-content-tab-header">
            <div class="button-section" style="padding:0">
                    <SfButton IsPrimary="true" Disabled = "@(selectedAnnotation.AnnotationUnSelected || !selectedAnnotation.IsInputChange)" OnClick="UpdateAnnotation" Content="Update"></SfButton>
                    <SfButton IsPrimary="true" Disabled = "@selectedAnnotation.AnnotationSelected" OnClick="AddAnnotation" Content="Add Annotation"></SfButton>
            </div>
        </div>
        </div>
    </div>
</div>
@code {
   
    protected override void OnInitialized()
    {
        string fileDataPath = NavigationManager.BaseUri + SampleService.WebAssetsPath;

@*Server:Block*@
#if !WASM
        //Sets the PDF document path for initial loading.
        DocumentPath = "wwwroot/data/pdfviewer/programmatical-annotations.pdf";
#endif
@*End:Server*@

@*WebAssembly:Block*@
#if WASM
        //Sets the PDF document path for initial loading.   
        DocumentPath= fileDataPath + "data/pdfviewer/programmatical-annotations.pdf";
#endif
        @*End:WebAssembly*@

    }
 
    //Method for the Open the context menu
    private void OpenContextMenu(MouseEventArgs e)
    {
        ContextMenuObj!.Open(e.ClientX, e.ClientY);
    }
}